name: "release"

on:
  workflow_dispatch:
  push:
    branches:
      - release

env:
  KANJI_DATABASE_URL: ${{ secrets.KANJI_DATABASE_URL }}
  KANJI_BACKUP_DIR: ${{ secrets.KANJI_BACKUP_DIR }}

jobs:
  release-desktop:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install Rust
        uses: dtolnay/rust-toolchain@nightly

      - name: Install dependencies
        run: pnpm install

      - uses: tauri-apps/tauri-action@v0.6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}
        with:
          tagName: v__VERSION__
          releaseName: "Kanji v__VERSION__"
          releaseDraft: false
          prerelease: false
          includeUpdaterJson: true
          updaterJsonPreferNsis: true
          generateReleaseNotes: true
